<!DOCTYPE html>
<html style="background-color: #e3e6ff;">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">

        <title>..::C A V I::..</title>

        <link rel="shortcut icon" href="assets/logo/logo.jpg" type="image/x-icon">
        <link rel="stylesheet" href="assets/css/uikit.css"/>
        <link rel="stylesheet" href="assets/css/style.css"/>
        <!-- UIkit JS -->
        <script src="assets/js/uikit.min.js"></script>
        <script src="assets/js/uikit-icons.min.js"></script>
      
    </head>
    <body>
        <!-- NavBar -->
        <div class=" uk-hidden@s" style="z-index: 980;" uk-sticky="bottom: #offset">
            <nav class="uk-navbar uk-navbar-container uk-margin">
                <div class="uk-navbar-left">
                    <a class="uk-navbar-toggle" href="#"  uk-toggle="target: #offcanvas-overlay">
                        <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
                    </a>
                </div>
            </nav>
            <div id="offcanvas-overlay" uk-offcanvas="overlay: true">
                <div class="uk-offcanvas-bar">
                    
            
                    <button class="uk-offcanvas-close" type="button" uk-close></button>
            
            
                    <h3>C A V I</h3>
                    <div class="uk-width-1-2@s uk-width-2-5@m">
                        <ul class="uk-nav uk-nav-default">
                            <li><a href="/"><span uk-icon="icon: home"></span> Inicio</a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="/admin"><span uk-icon="sign-in"></span>  Entre ou cadastre-se</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-visible@s" style="z-index: 980;" uk-sticky="bottom: #offset">
            <nav class="uk-navbar-container" uk-navbar>
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="/"><span uk-icon="icon: home"></span> Inicio</a></li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="/admin"><span uk-icon="sign-in"></span>  Entre ou cadastre-se</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="uk-container uk-margin">
            <div class="uk-card-defalt">
                
            </div>
        </div>